<mat-card class="container">
  <h2 class="alinear">FORMULARIO DE SOLICITUD CORRECCION CIE</h2><br>
  <h2>CASO : EXTRANJERIA - {{ solictudNuber }}</h2>
 <mat-card-content>

  <ng-container>
    <h3 class="alinear">DATOS OFICINA</h3>
    <table>
      <thead>
        <tr>
          <th>DEPARTAMENTO</th>
          <th>OFICINA</th>
          <th>NOMBRE FUNCIONARIO</th>
          <th>FECHA DE SOLICITUD</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ datosOficina.departamento }}</td>
          <td>{{ datosOficina.oficina }}</td>
          <td>{{ datosOficina.nombre }}</td>
          <td>{{ datosOficina.fecha }}</td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <mat-divider></mat-divider>

  <ng-container>
    <h3 class="alinear">DATOS CIUDADANO</h3>
    <table>
      <thead>
        <tr>
          <th>NUMERO CEDULA</th>
          <th>NRO COMPLEMENTO</th>
          <th>NOMBRES</th>
          <th>PRIMER APELLIDO</th>
          <th>SEGUNDO APELLIDO</th>
          <th>APELLIDO CASADA</th>
          <th>ESTADO</th>
          <th>IMAGEN</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ datosCiudadano.NroCedulaBolExtRegistros }}</td>
          <td>{{ datosCiudadano.HexadecimalExtRegistros }}</td>
          <td>{{ datosCiudadano.NombresExtRegistros }}</td>
          <td>{{ datosCiudadano.PrimerApExtRegistros }}</td>
          <td>{{ datosCiudadano.SegundoApExtRegistros }}</td>
          <td>{{ datosCiudadano.ApCasadaExtRegistros }}</td>
          <td>{{ datosCiudadano.ApiEstadoExtRegistros }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <mat-divider></mat-divider>

  <ng-container >
    <h3 class="alinear">DATOS TRAMITE</h3>

    <table>
      <thead>
        <tr>
          <th>CAMPO MODIFICAR</th>
          <th>DATO ACTUAL</th>
          <th>DATO CORREGIR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let da of datosTramite">
          <td>{{ da.campo }}</td>
          <td>{{ da.actual }}</td>
          <td>{{ da.modificar }}</td>
        </tr>
      </tbody>
    </table>
    <div class="usuario-container fondo">
      <button mat-raised-button color="primary" class="boton-largo" (click)="sanear()">Procesar</button>
    </div>
  </ng-container>


  <mat-divider></mat-divider>


  <mat-divider></mat-divider>


  <mat-divider></mat-divider>

 </mat-card-content>
</mat-card>
