.alinear{
  text-align: center;
  margin-top: 20px;
}

ul li{
  list-style: none;
}

.derecha{
 margin-left: auto;
}

/* para la tabla */
table{
  width: 100%;
}

mat-form-field{
  width: 140%;
}

.mat-cell:nth-child(1),
.mat-header:nth-child(1){
  flex: 0 0 6%;
}


.prioridad-roja {
  background-color: rgb(179, 61, 61);
  color: white; /* opcional: cambia el color del texto para que sea legible */
}

.prioridad-amarilla {
  background-color: rgb(236, 236, 118);
  color: black; /* opcional: cambia el color del texto para que sea legible */
}
