<mat-card>
  <h2 class="alinear">Listado de Solicitudes</h2>
  <mat-card-header>
    <!-- <div>
      <mat-form-field hintLabel="Buscar Rol" appearance="fill">
        <mat-label>Buscar Rol</mat-label>
        <input matInput #input>
      </mat-form-field>
    </div> -->
  </mat-card-header>
  <mat-card-header>
    <div class="derecha">
      <ul>
        <li><button mat-raised-button color="primary" (click)="inicarSolicitud()">Iniciar Solicitud</button></li>
      </ul>
    </div>
  </mat-card-header>
  <div mat-card-image>

  </div>
  <mat-card-content>
    <table mat-table [dataSource]="dataSourceSolicitud" class="mat-cell">

      <!-- id columna -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>N°</th>
        <!-- <td mat-cell *matCellDef="let element">{{ element.id }}</td> -->
        <td mat-cell *matCellDef="let element">{{ element.codigo }}</td>
      </ng-container>

      <!-- usuario -->
      <ng-container matColumnDef="tipo_caso">
        <th mat-header-cell *matHeaderCellDef>TIPO SOLICITUD</th>
        <td mat-cell *matCellDef="let element">{{ element.formulario.tipoSaneoFormulario.nombre }}</td>
      </ng-container>

      <!-- usuario -->
      <ng-container matColumnDef="asignado">
        <th mat-header-cell *matHeaderCellDef>ASIGNADO</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.usuarioAsignado">
            {{ element.usuarioAsignado?.nombres+' '+element.usuarioAsignado?.primer_apellido+' '+element.usuarioAsignado?.segundo_apellido }}
          </ng-container>
        </td>
      </ng-container>

      <!-- fechaSolicitud -->
      <ng-container matColumnDef="fechaSolicitud">
        <th mat-header-cell *matHeaderCellDef>FECHA DE SOLICITUD</th>
        <td mat-cell *matCellDef="let element">{{ element.fechaSolicitud | date:'dd/MM/yyyy HH:mm:ss' }}</td>
      </ng-container>

      <!-- fechaRespuesta -->
      <ng-container matColumnDef="fechaRespuesta">
        <th mat-header-cell *matHeaderCellDef>FECHA DE RESPUESTA</th>
        <td mat-cell *matCellDef="let element">{{ element.fechaRespuesta | date:'dd/MM/yyyy HH:mm:ss' }}</td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>ESTADO</th>
        <td mat-cell *matCellDef="let element">
          <mat-chip color="darker" selected="false" *ngIf="element.estado === 'ASIGNADO'">
            {{ element.estado }}
          </mat-chip>
          <mat-chip style="background-color: rgb(116, 213, 116); color: white;" selected="false" *ngIf="element.estado === 'PROCESADO'">
            {{ element.estado }}
          </mat-chip>
          <mat-chip style="background-color: rgba(235, 98, 78, 0.697); color: white;" selected="false" *ngIf="element.estado === 'EN PROCESO'">
            {{ element.estado }}
          </mat-chip>
          <!-- <mat-chip style="background-color: rgba(255, 34, 0, 0.697); color: white;" selected="false" *ngIf="element.estado === 'RECHAZADO' || element.estado === 'OBSERVADO'">
            {{ element.estado }}
          </mat-chip> -->
          <mat-chip style="background-color: rgba(255, 34, 0, 0.697); color: white;" selected="false" *ngIf="element.estado === 'OBSERVADO'">
            {{ element.estado }}
          </mat-chip>
          <mat-chip style="background-color: rgba(255, 234, 0, 0.697); color: white;" selected="false" *ngIf="element.estado === 'REVISADO'">
            {{ element.estado }}
          </mat-chip>
        </td>
      </ng-container>

      <ng-container matColumnDef="prioridad">
        <th mat-header-cell *matHeaderCellDef>PRIORIDAD</th>
        <td mat-cell *matCellDef="let element">
          {{ element.prioridad }}
        </td>
      </ng-container>
      <!-- ACCIONE -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
        <td mat-cell *matCellDef="let element; let i=index">
          <button *ngIf="element.estado === 'EN PROCESO'" mat-icon-button color="warn" (click)="recuperarSolicitud(element)">
            <mat-icon>send</mat-icon>
          </button>
          <!-- <button *ngIf="element.estado === 'RECHAZADO' || element.estado === 'OBSERVADO'" mat-icon-button color="warn" (click)="tipoCasoSaneo(element)">
            <mat-icon>send</mat-icon>
          </button> -->
          <button *ngIf="element.estado === 'OBSERVADO'" mat-icon-button color="warn" (click)="tipoCasoSaneo(element)">
            <mat-icon>send</mat-icon>
          </button>
          <button *ngIf="element.estado === 'REVISADO'" mat-icon-button color="warn" (click)="tipoCasoSaneo(element)">
            <mat-icon>send</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
      <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'prioridad-roja': isPrioridadAtencionNino(row)}"></tr> -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="getColorByPrioridad(row)"></tr>
    </table>
  </mat-card-content>
</mat-card>
