<h2 mat-dialog-title>Nuevo Detalle Tipo de Saneo</h2>
<mat-dialog-content>
    <form [formGroup]="newDetalleTipoSaneoForm">
      <div class="usuario-container">
          <mat-form-field>
              <input matInput placeholder="Nombre" formControlName="nombre" required />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Tipo de Saneo</mat-label>
            <mat-select formControlName="tipoSaneo" required>
                <mat-option *ngFor="let tipo of tipos_saneos" [value]="tipo.id">{{ tipo.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="primary" (click)="onSave()" [disabled]="newDetalleTipoSaneoForm.invalid">
        <mat-icon>save</mat-icon> Guardar
    </button>
    <button mat-button color="primary" (click)="onCancel()">
        <mat-icon>cancel</mat-icon> Cancelar
    </button>
</mat-dialog-actions>
