.alinear{
  text-align: center;
  margin-top: 20px;
}

ul li{
  list-style: none;
}

.derecha{
 margin-left: auto;
}

/* para la tabla */
table{
  width: 100%;
}

mat-form-field{
  width: 140%;
}

.mat-cell:nth-child(1),
.mat-header:nth-child(1){
  flex: 0 0 6%;
}

/* BOTONES */
.btn-editar{
  background-color: #ffa500; /* Color de fondo naranja */
  color: white; /* Color del texto blanco */
}

.btn-editar{
  background-color: #ffa500; /* Color de fondo naranja */
  color: white; /* Color del texto blanco */
}
.btn-editar{
  background-color: #ffa500; /* Color de fondo naranja */
  color: white; /* Color del texto blanco */
}
