/* app.component.css */

.example-card-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px; /* Ajusta según tus necesidades */

}

.example-card {
  /*width: calc(50% - 8px); /* 50% del ancho, menos el margen entre tarjetas */
  width: calc(100% - 8px); /* 50% del ancho, menos el margen entre tarjetas */
  margin-bottom: 16px; /* Ajusta según tus necesidades */
  margin: 0 15px 0 15px;
}

.contenedor{
  padding: 20px;
}

.alinear{
  text-align: center;
}

/* Estilos para un botón con color de advertencia personalizado */
.mat-warn-custom {
  background-color: #00780287; /* Cambia el color de fondo */
  color: white; /* Cambia el color del texto */
}
