<mat-card class="container">
  <h2 class="alinear">FORMULARIO DE SOLICITUD</h2>
 <mat-card-content>
  <form [formGroup]="solicitudFormulario">
    <div class="usuario-container">
      <mat-form-field appearance="fill">
        <mat-label>Departamento</mat-label>
        <input matInput placeholder="Departamento" formControlName="departamento" required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Oficina</mat-label>
        <input matInput placeholder="Oficina" formControlName="oficina" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nombre del Funcionario</mat-label>
        <input matInput placeholder="Nombre del Funcionario" formControlName="nombre_funcionario" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fecha de Solicitud</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Fecha de Solicitud" formControlName="fecha_solicitud" required />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <!-- <div class="usuario-container">
      <mat-form-field>
        <mat-label>Buscar Usuarios</mat-label>
        <input matInput placeholder="Nombre" formControlName="nombre" required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Buscar Usuarios</mat-label>
        <input matInput placeholder="Nombre" formControlName="nombre" required />
      </mat-form-field>
    </div> -->
  </form>
  <mat-divider></mat-divider>
  <h3 class="alinear">Busqueda de Ciudadano</h3>
  <form [formGroup]="formularioBusquedaExtranjero">
    <div class="usuario-container">
      <mat-form-field appearance="fill">
        <mat-label>Numero documento</mat-label>
        <input matInput placeholder="Numero documento" formControlName="numero_cedula" required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Complemento</mat-label>
        <input matInput placeholder="Complemento" formControlName="complemento" required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nombres</mat-label>
        <input matInput placeholder="Nombres" formControlName="nombres" required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Pri Apellido</mat-label>
        <input matInput placeholder="Pri Apellido" formControlName="primer_apellido" required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Seg Apellido</mat-label>
        <input matInput placeholder="Seg Apellido" formControlName="segundo_apellido" required />
      </mat-form-field>
      <button mat-icon-button color="primary" (click)="buscarExtranjero()" [disabled]="formularioBusquedaExtranjero.invalid && formularioBusquedaExtranjero.value.numero_cedula === '' && formularioBusquedaExtranjero.value.complemento === '' && formularioBusquedaExtranjero.value.nombres === '' && formularioBusquedaExtranjero.value.primer_apellido === '' && formularioBusquedaExtranjero.value.segundo_apellido === ''">
        <mat-icon aria-label="Buscar">search</mat-icon>
      </button>
    </div>
  </form>
  <ng-container *ngIf="mostrarTabla">
    <table>
      <thead>
        <tr>
          <th>Nro cedula</th>
          <th>Nro Complemento</th>
          <th>Nombres</th>
          <th>Pri Apellido</th>
          <th>Seg Apellido</th>
          <th>Ape Casado</th>
          <th>Estado</th>
          <th>Imagen</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let extranjero of extrajerosBuscados">
          <td>{{ extranjero.NroCedulaBolExtRegistros }}</td>
          <td>{{ extranjero.HexadecimalExtRegistros }}</td>
          <td>{{ extranjero.NombresExtRegistros }}</td>
          <td>{{ extranjero.PrimerApExtRegistros }}</td>
          <td>{{ extranjero.SegundoApExtRegistros }}</td>
          <td>{{ extranjero.ApCasadaExtRegistros }}</td>
          <td>{{ extranjero.ApiEstadoExtRegistros }}</td>
          <td></td>
          <td>
            <button mat-icon-button color="primary" (click)="seleccionarExtranjero(extranjero)">
              <mat-icon>check_circle_outline</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <mat-divider></mat-divider>
  <ng-container *ngIf="mostrarTablaExtranjeroSeleccionado">
    <h3 class="alinear">Ciudadano Elegido</h3>
    <table>
      <thead>
        <tr>
          <th>Nro cedula</th>
          <th>Nro Complemento</th>
          <th>Nombres</th>
          <th>Pri Apellido</th>
          <th>Seg Apellido</th>
          <th>Ape Casado</th>
          <th>Estado</th>
          <th>Imagen</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ extranjeroElejido.NroCedulaBolExtRegistros }}</td>
          <td>{{ extranjeroElejido.HexadecimalExtRegistros }}</td>
          <td>{{ extranjeroElejido.NombresExtRegistros }}</td>
          <td>{{ extranjeroElejido.PrimerApExtRegistros }}</td>
          <td>{{ extranjeroElejido.SegundoApExtRegistros }}</td>
          <td>{{ extranjeroElejido.ApCasadaExtRegistros }}</td>
          <td>{{ extranjeroElejido.ApiEstadoExtRegistros }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <mat-divider></mat-divider>
  <ng-container *ngIf="mostrarTablaExtranjeroSeleccionado">
    <h3 class="alinear">Datos del tramite</h3>
    <form [formGroup]="solicitudFormularioTramite">
      <div class="usuario-container">
        <mat-form-field appearance="fill">
          <mat-label>Tipo solicitud</mat-label>
          <mat-select formControlName="tipo_solicitud">
            <mat-option *ngFor="let tipo_saneo of lista_tipo_solicitud" [value]="tipo_saneo.id">{{ tipo_saneo.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nombre del Operador</mat-label>
          <input matInput placeholder="Nombre del Operador" formControlName="nombre_operador"/>
        </mat-form-field>
      </div>
      <div class="usuario-container">
        <mat-form-field appearance="fill">
          <mat-label>Descripcion</mat-label>
          <textarea matInput rows="1" placeholder="Descripcion" formControlName="descripcion"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Articulos del Reglamento</mat-label>
          <mat-select formControlName="articulos_reglamentos">
            <mat-option value="SOPORTE EXTRANJERIA">SOPORTE EXTRANJERIA</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="usuario-container">
        <mat-form-field appearance="fill">
          <mat-label>Datos a Procesar</mat-label>
          <mat-select (selectionChange)="tipoCaso($event)" formControlName="datos_procesar">
            <mat-option value="RENOVADO A DUPLICADO">RENOVADO A DUPLICADO</mat-option>
            <mat-option value="RENOVADO A ENTREGADO">RENOVADO A ENTREGADO</mat-option>
            <mat-option value="DUPLICADO A RENOVADO">DUPLICADO A RENOVADO</mat-option>
            <mat-option value="DUPLICADO A ENTREGADO">DUPLICADO A ENTREGADO</mat-option>
            <mat-option value="RECIBIDO A ENTREGADO">RECIBIDO A ENTREGADO</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Dato Errado</mat-label>
          <input matInput placeholder="Nombre del Operador" required  [value]="dato_errado" formControlName="dato_anterior"/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Dato Correcto</mat-label>
          <input matInput placeholder="Nombre del Operador" required  [value]="dato_correcto" formControlName="dato_correcto"/>
        </mat-form-field>
      </div>
      <div class="usuario-container fondo">
        <button mat-raised-button color="primary" class="boton-largo"(click)="guardarSolicitud()" >Guardar</button>
      </div>
    </form>
  </ng-container>
 </mat-card-content>
</mat-card>
