.usuario-container{
  display: flex;
  flex-direction: column;
}

.usuario-container > * {
  width: 100%;
}

/* Estilo para simular readonly en mat-select */
/* .mat-select-disabled .mat-select-value {
  pointer-events: none;
} */
