.alinear{
  text-align: center;
  margin-top: 20px;
}

ul li{
  list-style: none;
}

.derecha{
 margin-left: auto;
}

/* para la tabla */
table{
  width: 100%;
}

mat-form-field{
  width: 140%;
}

.mat-cell:nth-child(1),
.mat-header:nth-child(1){
  flex: 0 0 6%;
}

.mat-chip.processed-chip {
  background-color: #4caf50; /* Verde */
  color: white; /* Texto en blanco para mayor contraste */
}

.colorProcesado{
  background-color:#4caf50;
  color:white
}
