<mat-card>
  <h2 class="alinear">Listado de Usuarios</h2>
  <mat-card-header>
    <div>
      <mat-form-field hintLabel="Buscar usuario" appearance="fill">
        <mat-label>Buscar Usuarios</mat-label>
        <input matInput #input>
      </mat-form-field>
    </div>
  </mat-card-header>
  <mat-card-header>
    <div class="derecha">
      <ul>
        <li><button mat-raised-button color="primary" (click)="openUsuarioDialog()">Agregar Usuario</button></li>
      </ul>
    </div>
  </mat-card-header>
  <div mat-card-image>

  </div>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-cell">

      <!-- usuario -->
      <ng-container matColumnDef="nombres">
        <th mat-header-cell *matHeaderCellDef>NOMRBES</th>
        <td mat-cell *matCellDef="let element">{{ element.nombres }}</td>
      </ng-container>

      <!-- usuario -->
      <ng-container matColumnDef="primer_apellido">
        <th mat-header-cell *matHeaderCellDef>PRIMER APELLIDO</th>
        <td mat-cell *matCellDef="let element">{{ element.primer_apellido }}</td>
      </ng-container>

      <!-- usuario -->
      <ng-container matColumnDef="segundo_apellido">
        <th mat-header-cell *matHeaderCellDef>SEGUNDO APELLIDO</th>
        <td mat-cell *matCellDef="let element">{{ element.segundo_apellido }}</td>
      </ng-container>

      <!-- usuario -->
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef>USUARIO</th>
        <td mat-cell *matCellDef="let element">{{ element.username }}</td>
      </ng-container>

      <!-- usuario -->
      <ng-container matColumnDef="activo">
        <th mat-header-cell *matHeaderCellDef>ESTADO</th>
        <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
      </ng-container>

      <!-- ACCIONE -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
        <td mat-cell *matCellDef="let element; let i=index">
          <button mat-icon-button color="primary" (click)="opcionesVer(element.roles, element.id)">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="edit(element.id, element.cedula, element.complemento, element.departamento, element.estado, element.nombre_cargo, element.nombre_dependencia, element.nombre_organizacion, element.nombres, element.primer_apellido, element.segundo_apellido, element.username)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="bajaLogica(element)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
