/* .usuario-container{
  display: flex;
  flex-direction: column;
}

.usuario-container > * {
  width: 100%;
} */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.usuario-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.half-width {
  width: 48%; /* O ajusta el ancho según tu preferencia */
}
