<h2 mat-dialog-title>Nuevo usuario</h2>
<mat-dialog-content>
    <form [formGroup]="usuarioForm" class="form-container">
      <div class="usuario-container">
          <mat-form-field class="half-width">
              <input matInput placeholder="Cedula" formControlName="cedula" required (change)="buscarFuncionario()" />
          </mat-form-field>
          <mat-form-field class="half-width">
              <input matInput placeholder="complemento" formControlName="complemento" required (change)="buscarFuncionario()"/>
          </mat-form-field>
      </div>

      <div class="usuario-container">
        <mat-form-field class="half-width">
            <input matInput placeholder="Nombres" formControlName="nombres" required />
        </mat-form-field>
        <mat-form-field class="half-width">
            <input matInput placeholder="primer_apellido" formControlName="primer_apellido" required />
        </mat-form-field>
        <mat-form-field class="half-width">
            <input matInput placeholder="segundo_apellido" formControlName="segundo_apellido" required />
        </mat-form-field>
      </div>

      <div class="usuario-container">
        <mat-form-field class="half-width">
            <input matInput placeholder="nombre_organizacion" formControlName="nombre_organizacion" required />
        </mat-form-field>
        <mat-form-field class="half-width">
            <input matInput placeholder="nombre_dependencia" formControlName="nombre_dependencia" required />
        </mat-form-field>
        <mat-form-field class="half-width">
            <input matInput placeholder="nombre_cargo" formControlName="nombre_cargo" required />
        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput placeholder="Departamento" formControlName="departamento" required />
      </mat-form-field>
      </div>

      <div class="usuario-container">
        <mat-form-field class="half-width">
            <input matInput placeholder="Usuario" formControlName="username" required />
        </mat-form-field>
        <mat-form-field class="half-width">
            <input matInput placeholder="Contraseña" formControlName="password" required />
        </mat-form-field>
      </div>
      <div class="usuario-container">
        <mat-slide-toggle formControlName="switchControl">Estado</mat-slide-toggle>
      </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button color="primary" (click)="onSave()" [disabled]="usuarioForm.invalid">
        <mat-icon>save</mat-icon> Guardar
    </button>
    <button mat-button color="primary" (click)="onCancel()">
        <mat-icon>cancel</mat-icon> Cancelar
    </button>
</mat-dialog-actions>
