<div class="dashboard-container" [class.is-mobile]="mobileQuery.matches">
  <!-- ESTO ES EL TOOLBAR -->
  <mat-toolbar color="primary" class="dashboard-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">SISTEMA DE SANEAMIENTO</h1>

    <div class="aliniar_derecha">
      <ul>
        <li>
          <button mat-icon-button><mat-icon>help_outline</mat-icon></button>
        </li>
        <li>
          <button mat-icon-button  [matMenuTriggerFor]="menu" ><mat-icon>person_outline</mat-icon></button>
          <mat-menu #menu="matMenu">
            <ng-container *ngFor="let r of roles">
              <button mat-button color="primary" (click)="cambiarRol(r.id, r.nombre)">
                <mat-icon>sync</mat-icon>
                {{ r.nombre }}
              </button>
              <hr>
            </ng-container>
            <button mat-button color="primary" (click)="cerrarSesion()">
              <mat-icon>exit_to_app</mat-icon>
              Cerrar Sesion
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar>

  <!-- Empiza el sidenav -->
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <div class="profile-card">
          <div class="header">
            <h2>Joel Flores Quispe</h2>
            <h4>{{ correo }}</h4>
            <h4 class="color_rol">{{ rol }}</h4>
          </div>
        </div>

        <mat-divider></mat-divider>

        <!-- <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of menuNav">
          <mat-icon class="icono">{{ nav.icon }}</mat-icon>
          {{ nav.name }}
        </a> -->

        <!-- <mat-accordion>
          <mat-expansion-panel *ngFor="let nav of menuNav">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="icono">{{ nav.icon }}</mat-icon>
                {{ nav.name }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item *ngFor="let subMenu of nav.subMenus" [routerLink]="subMenu.url">
              {{ subMenu.name }}
            </a>
          </mat-expansion-panel>
        </mat-accordion> -->

        <mat-accordion>
          <mat-expansion-panel *ngFor="let nav of menuNav">
            <mat-expansion-panel-header *ngIf="nav.active">
              <mat-panel-title>
                <mat-icon class="icono">{{ nav.icon }}</mat-icon>
                {{ nav.name }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngFor="let subMenu of nav.subMenus">
              <a mat-list-item  [routerLink]="subMenu.url" *ngIf="subMenu.active">
                <mat-icon class="icono">home</mat-icon>
                {{ subMenu.name }}
              </a>
            </ng-container>
          </mat-expansion-panel>
          <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
               <mat-panel-title>
                Menú 1
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="">
              <mat-icon class="icono">home</mat-icon>
              primero
            </a>
            <a mat-list-item [routerLink]="">
              <mat-icon class="icono">account_circle</mat-icon>
              primero
            </a>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Menú 2
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Contenido del menú 2</p>
          </mat-expansion-panel> -->
        </mat-accordion>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
