<mat-card>
  <h2 class="alinear">Tipo de Saneamiento</h2>
  <mat-card-header>
    <!-- app.component.html -->
    <div class="container">
      <button mat-button class="box">
        <mat-icon>home</mat-icon> <!-- Reemplaza "home" con el icono que desees -->
        <span class="button-title">Casa</span>
      </button>
      <button mat-button class="box">
        <mat-icon>work</mat-icon> <!-- Reemplaza "work" con el icono que desees -->
        <span class="button-title">Trabajo</span>
      </button>
      <!-- Agrega más botones según sea necesario -->
    </div>
  </mat-card-header>
</mat-card>
