<mat-card>
  <h2 class="alinear">Tipo de Saneamiento</h2>
  <mat-card-header>
    <!-- app.component.html -->
    <div class="container">
      <!-- <button mat-button class="box">
        <mat-icon>home</mat-icon>
        <span class="button-title">Casa</span>
      </button>
      <button mat-button class="box">
        <mat-icon>work</mat-icon>
        <span class="button-title">Trabajo</span>
      </button> -->
      <ng-container *ngFor="let tipoSa of tiposSaneos">
        <button mat-button class="box" (click)="abreModalNewSolicitud(tipoSa)">
          <mat-icon>fingerprint</mat-icon>
          <span class="button-title">{{ tipoSa.nombre }}</span>
        </button>
      </ng-container>
      <!-- Agrega más botones según sea necesario -->
    </div>
  </mat-card-header>
</mat-card>
