.alinear {
  text-align: center;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px; /* Ajusta el margen inferior según tus preferencias */
  font-size: 15px;
}

/* Estilo para las celdas del encabezado */
th {
  background-color: #f2f2f2; /* Color de fondo del encabezado */
  border: 1px solid #dddddd; /* Borde entre celdas del encabezado */
  padding: 4px; /* Espaciado interno */
  text-align: left; /* Alineación del texto a la izquierda */
}

/* Estilo para las celdas del cuerpo */
td {
  border: 1px solid #dddddd; /* Borde entre celdas del cuerpo */
  padding: 4px; /* Espaciado interno */
}

/* Estilo para las filas impares (alternancia de colores) */
tbody tr:nth-child(odd) {
  background-color: #f9f9f9; /* Color de fondo para filas impares */
}

/* Estilo para las celdas de acción */
.btn-comentar{
  background-color: #000000; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  /*border: none; /* Sin borde */
  /*padding: 4px; /* Espaciado interno del botón */
  /*cursor: pointer; /* Cursor de apuntador al pasar el ratón */
}

mat-form-field {
  width: 100%;
}

.extra-small-button {
  width: 24px;
  height: 24px;
  min-width: 24px; /* Asegura que el botón tenga un ancho mínimo */
  background-color: transparent; /* Establece el color de fondo como transparente */
  color: black;
  box-shadow: none; /* Quita el sombreado */
}

.extra-small-icon {
  font-size: 16px;
}
